.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contact img {
  box-shadow: 0 0 0 3px #aaa;
}

.personal {
  padding: 0px;
  list-style: none;
}

.personal li {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.personal li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ddd;
  margin-right: 10px;
}

.profile {
  font-size: 1.5rem;

  padding: 0.5rem;

  position: relative;
}

.profile::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  background: url('../Assets/github.svg') no-repeat center center;
}

.profile::after {
  content: '';
  position: absolute;
  left: 5px;
  display: block;
  width: 20%;
  height: 3px;
  background: #333;
  transition: width 0.3s ease;
}

.profile:hover::after {
  width: 95%;
}

@media (max-width: 40rem) {
  .contact {
    grid-template-columns: 1fr;
  }
}
