@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;

  font-family: 'Roboto', sans-serif;

  color: #333;
}

img {
  border-radius: 0.5rem;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.4rem;
}

.App {
  max-width: 40rem;
  margin: 0 auto;
  /* Técnica para evitar o salto na mudança de página com scroll */
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

/* Segura a parte do meio do site */
.content {
  flex: 1;
}

/* Animação de Entrada da esqueda para direita */
.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}

/* Animação do "C" do loading */
.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
